[submodule "Hub"]
	path = Hub
	url = git@github.com:aidan-clyens/Hub.git
[submodule "Wristband"]
	path = Wristband
	url = git@github.com:aidan-clyens/Wristband.git
[submodule "wcam-web-services"]
	path = wcam-web-services
	url = git@github.com:deadinsky/wcam-web-services.git
